body {
  background-color: rgb(243, 240, 240, 0.75);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #5e5c5c;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 20px;
}

li {
  font-size: 18px;
  line-height: 1.5;
}

footer p {
  font-size: 14px;
}

.semantic-list li {
  line-height: 2;
}
