body {
  background-color: rgb(243, 240, 240, 0.75);
}

.banner {
}

.semantic-example-section img {
  background-color: black;
}

aside {
  background-color: rgb(231, 228, 228, 0.5);
  border-top: 4px solid rgb(255, 69, 0, 0.8);
}

aside li {
  list-style-type: none;
}

aside p {
  text-align: center;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  color: #5e5c5c;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  color: rgb(255, 69, 0, 0.8);
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

p,
li {
  font-size: 20px;
}

li {
  font-size: 16px;
  line-height: 1.5;
}

.semantic-list li {
  line-height: 2;
}
