/* text color, font family and background color */

* {
  padding: 0;
  margin: 0;
}

body {
  border-top: 10px solid rgb(18, 137, 181, 0.75);
  background-color: rgb(243, 240, 240, 0.75);
  font-family: sans-serif;
  color: rgb(129, 122, 122);
  position: relative;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.main-header {
  background-color: rgb(237, 230, 230);
  padding: 20px 40px 20px 40px;
  margin-bottom: 50px;
}

.main-header-title {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.page-title {
  margin-bottom: 30px;
}

.post-date {
  margin-bottom: 10px;
}

.auther-pic {
  width: 10%;
  height: auto;
  margin-bottom: 0px;
}

img {
  margin-top: 10px;
}

h1,
h2,
h3,
h4 {
  color: rgb(18, 137, 181, 0.75);
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 10px;
}

h4 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 50px;
}

li {
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0px;
}

ul,
ol {
  padding-left: 50px;
  margin-bottom: 20px;
}

/* img {
  margin-top: 20px;
} */

.list-three-type {
  padding-left: 100px;
}

.types-of-css-img {
  padding-left: 100px;
}

p,
li {
  font-size: 18px;
}

p {
  margin-bottom: 15px;
  line-height: 1.5;
}
/* style navbars */
.nav-item:link,
.nav-item:visited {
  font-size: 18px;
  color: rgb(18, 137, 181, 0.75);
  text-decoration: none;
  margin-right: 30px;
}

.nav-item:hover {
  color: rgb(5, 101, 136);
  font-weight: bold;
}

.picture-header {
  color: rgb(99, 96, 96, 0.7);
  font-style: italic;
}

.box-model-list {
  padding-left: 20px;
}

.box-model-img {
  margin-top: 15px;
  margin-left: 80px;
  width: 50%;
  height: auto;
}

.like-btn {
  cursor: pointer;
  font-size: 22px;
  padding: 20px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.copy-right {
  font-size: 16px;
  padding: 20px;
  margin-bottom: 0px;
}

img {
  width: 50%;
  height: auto;
}
